.nav-tabs
{
    color: blue;
    background-color: whitesmoke;
}
.operations-buttons-group
{
    /* float: right; */
    position: absolute;
    top: 2%;
    right: 2%;
}

.search-task
{
    /* float: right; */
    position: absolute;
    top: 2%;
    left: 2%;
}


.operations-buttons
{
    border: 0px;
    background: transparent;
}

#disabledOperationButton
{
    cursor: not-allowed;
    color: grey;
}

.search-task, hr
{
    color: blue;
}