.nav-tabs
{
    color: blue;
    background-color: whitesmoke;
}

.search-task-icon
{
    margin-left: -2%;
}


.operations-buttons
{
    border: 0px;
    background: transparent;
}

#disabledOperationButton
{
    cursor: not-allowed;
    color: grey;
}

.search-task, hr
{
    color: blue;
}