<div *ngIf="!taskList.length">
    <div class="card  align-items-center">
        <div class="card-body">
            <fa-icon id="nothingHereIcon" [icon]='faSmileBeam' title="select">
            </fa-icon>
            Nothing Here
        </div>
    </div>
</div>


<div *ngFor="let task of taskList; let i = index">
    <div class="card">
        <div class="card-body" data-toggle="collapse" attr.data-target="#description-{{task?._id}}"
            attr.aria-controls="description-{{task?._id}}">



            <div class="form-inline">
                <div class="checkSquare">
                    <div *ngIf="taskSelectedService.taskSelected[i]">
                        <fa-icon (click)="selectTask(i)" id="checkedSquared" [icon]='faCheckSquare' title="select">
                        </fa-icon>
                    </div>

                    <div *ngIf="!taskSelectedService.taskSelected[i]">
                        <fa-icon (click)="selectTask(i)" id="unheckedSquared" [icon]='faSquare' title="select">
                        </fa-icon>
                    </div>
                </div>

                <div class="status-circle" style="cursor: pointer;">
                    <div *ngIf="task?.status == 0">
                        <fa-icon (click)="toggleTaskStatus(i,1)" id="taskInComplete" [icon]='faExclamationCircle'
                            title="Task Pending"></fa-icon>
                    </div>

                    <div *ngIf="task?.status == 1 ">
                        <fa-icon (click)="toggleTaskStatus(i,2)" id="taskInProgress" [icon]='faHourglassHalf'
                            title="Task In Progress"></fa-icon>
                    </div>

                    <div *ngIf="task?.status == 2">
                        <fa-icon (click)="toggleTaskStatus(i,0)" id="taskComplete" [icon]='faCheckCircle'
                            title="Task Completed"></fa-icon>
                    </div>
                </div>

                <span class="title">
                    <div *ngIf="task?.title.length < 30; else truncateTitle">
                        {{task?.title}}
                    </div>

                    <ng-template #truncateTitle>
                        {{task?.title | slice:0:30}}...
                    </ng-template>
                </span>

                <span class="dueDate">
                    {{task?.dueDate | date}}
                </span>

                <span class="priority" style="cursor: pointer;">
                    <div *ngIf="task?.priority == 1" class="highPriority" title="High Priority Task"
                        (click)="toggleTaskPriority(i,2)">
                        <fa-icon [icon]='faFlag'></fa-icon>
                    </div>

                    <div *ngIf="task?.priority == 2" class="mediumPriority" title="Normal Priority Task"
                        (click)="toggleTaskPriority(i,3)">
                        <fa-icon [icon]='faFlag'></fa-icon>
                    </div>

                    <div *ngIf="task?.priority == 3" class="lowPriority" title="Low Priority Task"
                        (click)="toggleTaskPriority(i,1)">
                        <fa-icon [icon]='faFlag'></fa-icon>
                    </div>
                </span>

            </div>

            <div class="collapse" attr.id="description-{{task?._id}}">
                <div class="card">
                    <div class="card-body border-0" id="taskDescriptionCard">

                        <div *ngIf="task?.description; else noDescription">
                            {{task?.description}}
                        </div>

                        <ng-template #noDescription>
                            No Description
                        </ng-template>

                        <a class="updateLogo" data-toggle="modal" href="#updateTaskModal"
                            (click)="selectTaskForUpdate(task)">
                            <fa-icon [icon]='faPencilSquare' title="Edit Task">
                            </fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngFor="let task of taskList; let i = index" class="collapse" attr.id="description-{{task?._id}}">

</div>

<!-- Modal For Edit Task -->
<div class="modal fade show" id="updateTaskModal" tabindex="-1" role="dialog" aria-labelledby="updateTaskModalTitle"
    aria-hidden="true">

    <app-update-task *ngIf="selectedTaskForUpdate!=null" [task]="selectedTaskForUpdate"></app-update-task>
</div>