.status-circle
{
    transform: scale(1.5,1.5);
    margin-right: 3%;
}


#taskInComplete, .highPriority
{
    color:red
}

#taskInProgress, .mediumPriority
{
    color: orange;
}

#taskComplete, .lowPriority
{
    color: lightgreen;
}

#checkedSquared, #unCheckedSquared, .checkSquare
{
    transform: scale(1.5,1.5);
    margin-right: 3%;
    color: lightgrey;
}

.title
{
    width: 30%;
}

.dueDate
{
    width: 20%;
}


#nothingHereIcon
{
    color: #FF7F00;
    transform: scale(1.5,1.5);
}

.updateLogo{
    float: right;
    transform: scale(1.25,1.25);
    color: black;
}

#taskDescriptionCard{
    display: inline;
}

.taskDescription
{
    margin-left: 10%;
}